@import "tailwindcss";

html, body {
  height: 100%;
  height: -webkit-fill-available;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}